* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
